@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100dvh;
  background-color: #d8ebff;
  background-image: url('/assets/background.jpg');
  padding: 20px;
}
@font-face {
  font-family: 'bold';
  font-weight: normal;
  src: url('./assets/Figtree-Bold.woff');
}
@font-face {
  font-family: 'light';
  font-weight: normal;
  src: url('./assets/Figtree-Light.woff');
}
.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #ffffff12;
  border: 1px solid #ffffff1e;
  width: 100%;
  max-width: 600px;
  padding: 40px;
  border-radius: 10px;
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
}
label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5vh;
}
.inp {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'light';
  font-size: 15px;
  color: #fff;
  width: 100%;
  padding: 25px;
  border-radius: 10px;
  background-color: #ffffff16;
  transition: all 0.3s;
  margin-bottom: 18px;
}
footer {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 100%;
  padding-top: 10PX;
  color: greenyellow;
}
.formulario img {
  max-width: 150px;
}
input[type="checkbox"], input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  border: transparent;
  border-radius: 6px;
  background-color: #eeeeee8e;
  cursor: pointer;
  position: relative;
}

/* Quando marcado */
input[type="checkbox"]:checked, input[type="radio"]:checked {
  background-color: transparent;
}

/* Tick centralizado */
input[type="checkbox"]:checked::after, input[type="radio"]:checked::after {
  content: "✔";
  color: #3cfa02;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* esse é o truque */
}
.formulario h2 {
  font-family: 'bold';
  font-family: "Zen Dots", sans-serif;
  font-size: 2vh;
  color: #e0dcdc;
  margin: 30px;
}
.formulario p {
  font-family: "Bruno Ace SC", sans-serif;
  font-size: 1.5vh;
  color: #fff;
  line-height: 1.5;
  margin: 10px 0 20px 0;
}
.check {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'light';
  font-size: 15px;
  color: #fff;
  width: auto;
  border-radius: 10px;
  background-color: #ffffff16;
  transition: all 0.3s;
}
.formulario input::placeholder {
  opacity: 1;
  color: #ffffff8d;
}
.formulario input:focus {
  background-color: #ffffff1e;
}
.aba {
  font-family: 'light';
  font-size: 15px;
  color: #fff;
  line-height: 1.5;
  width: 100%;
  padding: 25px;
  border-radius: 10px;
  background-color: #ffffff16;
  resize: none;
  margin: 0 0 20px 0;
  transition: all 0.3s;
}
.formulario textarea {
  font-family: 'light';
  font-size: 15px;
  color: #fff;
  line-height: 1.5;
  width: 100%;
  padding: 25px;
  border-radius: 10px;
  background-color: #ffffff16;
  resize: none;
  margin: 0 0 20px 0;
  transition: all 0.3s;
}
.formulario textarea::placeholder {
  opacity: 1;
  color: #ffffff8d;
}
.formulario textarea:focus {
  background-color: #ffffff1e;
}
.formulario button {
  font-family: 'bold';
  font-size: 15px;
  color: #fff;
  width: 100%;
  padding: 30px 25px;
  border-radius: 10px;
  background-color: #fff;
  background: linear-gradient(0deg, #1C1CA1, #117FF2, #64D6F5, #117FF2);
  background: -webkit-linear-gradient(0deg, #1C1CA1, #117FF2, #64D6F5, #117FF2);
  margin: 0 0 10px 0;
  transition: all 0.3s;
}
.formulario button:hover {
  filter: brightness(110%);
}
.bot{
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  padding: 10px;
}
span {
  color: white;
  font-family: "Shadows Into Light", cursive;
  font-size: 20px;
}
.copyright {
  
  margin-right: 10px;
  width: 25px;
  height: 25px;
}
